{% extends "base.html" %}

{% block title %}Вход в аккаунт{% endblock %}

{% block content %}
    <h1>Вход в аккаунт</h1>
    {% if form.errors %}
    <p> Неверный пароль.
        Попробуйте снова. </p>
    {% else %}
    <p>
        Используйте следующую форму для входа в аккаунт.<br>
        Если у вас нет аккаунта,
        <a href="{% url "auth_register" %}">зарегистрируйтесь</a>.
    </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Войти"></p>
        </form>
        <p>
            <a href="{% url "password_reset" %}">Забыли пароль?</a>
        </p>
    </div>
    <div class="social">
        <ul>
            <li class="google">
                <a href="{% url "social:begin" "google-oauth2" %}">
                Войти при помощи Google
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
