{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Опубликован {{ post.publish }}, кем: {{ post.author }}
  </p>
  {% autoescape off %}
  {{ post.body|linebreaks }}
{% endautoescape %}
  <p>
  </p>
  {% with comments.count as total_comments %}
    <h2>
      {{ total_comments }} комментарий{{ total_comments|pluralize }}
    </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Комментарий {{ forloop.counter }} от {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>Ещё нет ни одного комментария</p>
  {% endfor %}
  {% include "blog/post/includes/comment_form.html" %}
{% endblock %}
